#accordionPanelsStayOpenExample{
  padding: 20px;
}
.display-3{
  padding: 20px 20px 0px 20px;
}
.navbar {
  background-color: #dfe8f4 !important;
  box-shadow: 0 2px 5px #e6e4e4;
}
.separate {
  margin: 0px 5px;
  :hover {
    cursor: pointer;
  }
  div {
    display: flex;
    align-items: center;
  }
  span {
    padding: 0px 5px;

  }
  .material-icons{
    font-size: 40px;
  }
}
