<!-- <form class="survey-form" id="survey-form" [style.display]="this.profileService.isOpen?'block':'none'"> -->
  <!-- [style.display]="this.profileService.isOpen?'block':'none'" -->
<form  *ngIf="formAnswer" [formGroup]="formAnswer" (ngSubmit)="submitAnswer()" class="survey-form" id="survey-form">
  <ul class="list-question">
    <div class="antet-survey-form">
      <label>Question:</label>
      <label>Yes/No</label>
    </div>
    <li *ngFor="let item of activeQuestions;let i = index">
      <div class="question">
        <label class="q">
          {{item.questions}}
        </label>
        <input type="checkbox" [formControlName]="getCheckBoxName(item.id)">
      </div>
    </li>
  </ul>

  <div class="comment-survey">
    <label for="">Comment (optional)</label><br>
    <!-- <input type="text" name="comment" id=""> -->
    <textarea formControlName="comment" id="" cols="58" rows="5"></textarea>
  </div>

  <div class="control-btn">
    <input type="button" value="Back" (click)="back()">
    <input type="submit" value="Submit">
  </div>
</form>


