.survey-form{
  :hover{
    cursor: pointer;
  }
  display: block;
  border: 1px solid #000;
  width: 500px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
  background: darkgrey;
  .list-question{
    .antet-survey-form{
      margin-right: 10px;
      display: flex;
      justify-content: space-between;
    }
    .question{
      display: flex;
    // display: none;
      justify-content: space-between;
      margin-right: 20px;
      z-index: 22;
      background: blueviolet;
      .q{
        overflow-y: hidden;
        overflow-x: auto;
      }
    }
    li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .comment-survey{
    *{
      margin-left: 40px;
    }
  }
  .control-btn{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
  }
}


.table-hover > tbody > tr:hover {
  cursor: pointer;
  background-color: #f8f6ff !important;
}
.table-hover > tbody > tr.no-hover:hover {
  background-color: white !important;
}

table {
  width: 100%;
}
th,
td {
  font-weight: unset;
  padding-right: 10px;
}

.tableSurvey {
  position: relative;
  padding-top: 60px;
  border: none;
}

.tableSurvey th {
  font-family: Roboto;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
  background-color: #6c7ae0;
  padding-top: 18px;
  padding-bottom: 18px;
}
.tableSurvey td {
  font-family: Roboto;
  font-size: 15px;
  color: gray;
  line-height: 1.4;
  padding-top: 16px;
  padding-bottom: 16px;
}
.tableSurvey > tbody > tr:nth-child(even) {
  background-color: #f8f6ff;
}
.tableSurvey {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}



