<form action="" class="auth">
  <label for="username">Username</label><br>
  <input type="text" name="username" id="username" placeholder="Your username"><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" id="password" placeholder="Your password"><br><br>
  <input type="submit" value="Login">
  <div>
    <p>Forgot your password?</p>
  </div>
  <div routerLink='/authentication/register' routerLinkActive='active'>
    <p>Create an account</p>
  </div>
</form>

