<div class="survey" *ngFor="let s of survey"  id={{s.id}}>
  <button id="editButton" class="buttonAdminSurvey" name="editButton">Edit</button>
  <button id="deleteButton" class="buttonAdminSurvey" name="deleteButton"(click)="deleteSurvey(s.id)">Delete</button>
  <div class="subject"><b>Subject:</b> {{s.subject}}</div>
  <div class="survey-description">
    <b>Description: </b>{{s.description}}
  </div>
  <div class="subject">
    <p><b>LegalBasis:</b> {{s.legalBasis}}</p>
  </div>

  <div class="survey-footer">

    <p><b>LaunchDate:</b> {{s.launchDate}}</p>
    <p><b>ExpirationDate:</b> {{s.expirationDate}}</p>
  </div>
</div>

