<div class="container">
  <div class="row">
    <table class="table table-hover  table-borderless tableSurvey">
      <thead>

        <tr>
          <th scope="col" class="text-center">Subject</th>
          <th scope="col" class="text-center">Description</th>
          <th scope="col" class="text-center">Legal Basis</th>
          <th scope="col" class="text-center">Launch Date</th>
          <th scope="col" class="text-center">Expiration Date</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let s of survey" id={{s.id}}>
        <tr>
          <td class="text-center">
            {{s.subject}}
          </td>
          <td class="text-center">
            {{s.description}}
          </td>
          <td class="text-center">
            {{s.legalBasis}}
          </td>
          <td class="text-center">
            {{s.launchDate |date:'yyyy-MM-dd'}}
          </td>
          <td class="text-center">
            {{s.expirationDate |date:'yyyy-MM-dd'}}
          </td>
          <td id="actionButtonAdmin" class="text-center">
            <button class='btn btn-outline-info btn-xs' id="editButton" name="editButton"
              (click)="onPressEditSurvey(s.id)"><span class="material-icons">
                edit
              </span>Edit</button>
            <button class="btn btn-outline-danger btn-xs" id="deleteButton" name="deleteButton"
              (click)="deleteSurvey(s.id)"><span class="material-icons">
                remove_circle_outline
              </span>Delete</button>
          </td>
        </tr>
        <tr class="no-hover" id="comp-render" *ngIf="displayEditSurvey && currentSurvey == s.id">
          <td colspan="6">
            <app-edit-survey></app-edit-survey>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
